.Register{
	background-color: rgb(22,22,22);
	width: 240px;
	height: 340px;
	padding: 30px;
	border-radius: 5px;
	position: relative;
	top: 140px;
	left: 40%;
	position: relative;
}

.texto{
	color: rgb(255,255,255);
	font-family: "VT323", monospace;
	font-size: 28px;
	display: flex;
	justify-content: center;
}

.texto_register{
	color: rgb(255,255,255);
	font-family: "VT323", monospace;
	font-size: 15px;
	display: flex;
	justify-content: center;
}

.link_register{
	color: rgb(145, 248, 142);
	font-family: "VT323", monospace;
	font-size: 15px;
	display: flex;
	justify-content: center;
}

label{
	color: rgb(255,255,255);
	font-family: "VT323", monospace;
	font-size: 20px;
}

.mi-boton{
	background-color: rgb(50,205,50);
	font-size: 18px;
	font-family: "VT323", monospace;
	display: flex;
	justify-self: center;
	left: 36%;
	padding: 6px;
	margin-bottom: 10px;
}